/* Main Weather Container */
.weather-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    margin: 1.5rem auto;
    max-width: 90%;
    padding: 1.5rem;
}

.weather-container > * {
    margin: 1vh;
}

/* Header and Details */
.weather-header, .details section {
    margin: 1.5rem 0;
}

.weather-header h1, .details h2 {
    font-size: 1.5rem;
    color: #34495e;
}

.time p {
    font-size: 0.9rem;
    color: #718096;
}

/* Current Weather Conditions */
.weather-conditions, .weather-details, .weather-atmosphere, .weather-extra {
    text-align: left;
}

.weather-conditions h2, .details h2 {
    color: #2980b9;
    font-size: 1.3rem;
}

/* Temperature and Icon */
.weather-temp p {
    font-size: 1.1rem;
    color: #34495e;
}

.weather-temp span {
    font-weight: bold;
    color: #e74c3c;
}

.weather-icon {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-icon img {
    width: 60px;
    height: 60px;
}

.weather-icon p {
    font-size: 1rem;
    color: #34495e;
}

/* Flex Layout for Wind and Temp Details */
.details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.details section {
    width: calc(33.33% - 30px);
    margin: 0.5rem;
}

.details p {
    font-size: 1rem;
    color: #2c3e50;
}

/* Responsive Design */
@media (max-width: 768px) {
    .details section {
        width: 100%;
        margin: 10px 0;
    }

    .weather-container {
        max-width: 100%;
    }

    .weather-icon img {
        width: 50px;
        height: 50px;
    }
}
